{% load static %}
<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<meta name="description" content="">
		<meta name="author" content="">

		<title>Muniki Automotive</title>

		<!-- CSS FILES -->                
		<link href="{% static 'css/main.css' %}" rel="stylesheet">
	</head>

	<body>
		<div class="wrapper">
			<div class="logo">
				<img src="{% static 'images/service-4.jpg' %}" alt="">
			</div>
			<div class="text-center mt-4 name">
				Muniki Automotive
			</div>
			<form class="p-3 mt-3" action="{% url 'login' %}" method="POST" role="form">
				{% csrf_token %}
				<div class="form-field d-flex align-items-center">
					<span class="far fa-user"></span>
					<input type="text" name="username" id="username" placeholder="Username">
				</div>
				<div class="form-field d-flex align-items-center">
					<span class="fas fa-key"></span>
					<input type="password" name="password" id="password" placeholder="Password">
				</div>
				{% if error %}
					<p class="error-message">{{ error }}</p>
				{% endif %}
				<button class="btn mt-3">Login</button>
			</form>
			<div class="text-center fs-6">
				<a href="{% url 'register' %}">Register</a>  <!-- Registration link -->
				<a href="#">Forgot password?</a>
			</div>
		</div>
	</body>
</html>